<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Успешный заказ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-content.css">
    <link rel="stylesheet" href="css/style-reviews-slider.css">
    <link rel="stylesheet" href="css/style-footer.css">
    <link rel="shortcut icon" href="./favicon.png">
  </head>

  <body>
    <header id="top" class="header header_end">
      <div class="header__logo-wrap">
        <div class="container">
          <a href="/"><img class="header__logo" src="./img/logo.png" alt="Лого" /></a>
        </div>
      </div>

      <div class="header__nav-wrap">
        <input type="checkbox" id="menu-checkbox" />
        <nav class="container">
          <a href="/"><img class="header__logo_mobile" src="./img/logo.png" alt="Лого" /></a>
          <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="#about-us">О нас</a></li>
            <li class="header__nav-item"><a href="#how-it-works">Как это работает</a></li>
            <li class="header__nav-item"><a href="#reviews-block">Отзывы</a></li>
            <li class="header__nav-item"><a href="#contacts">Контакты</a></li>
          </ul>
        </nav>
      </div>

      <div class="header__row header__row_end container">
        <div class="header__title header__title_end">
          <h1>Благодарим Вас за заказ!</h1>
        </div>
      </div>
    </header>
    
    <div class="order-card container">
      <div class="order-card__header">
        <h3 class="order-card__title">№Заказа 285АА</h3>
        <p class="order-card__total">сумма <span class="order-card__total_num">7 760</span> <i class="fa fa-rub" aria-hidden="true"></i></p>
      </div>
      
      <div class="order-card__steps">
        <div class="order-card__step">
          <img class="order-card__step-icon" src="./img/order-card_icon1.png" alt="">
          <div class="order-card__step-text">билеты будут отправлены на ваш e-mail</div>
        </div>
        <div class="order-card__step">
          <img class="order-card__step-icon" src="./img/order-card_icon2.png" alt="">
          <div class="order-card__step-text">распечатайте и сохраняйте билеты до даты поездки</div>
        </div>
        <div class="order-card__step">
          <img class="order-card__step-icon" src="./img/order-card_icon3.png" alt="">
          <div class="order-card__step-text">предьявите распечатанные билеты при посадке</div>
        </div>
      </div>
      
      <div class="order-card__text">
        <h4 class="order-card__text-title">Ирина Эдуардовна!</h4>
        <p>Ваш заказ успешно оформлен. В ближайшее время с вами свяжется наш оператор для подтверждения.</p>
        <p><strong>Благодарим Вас за оказанное доверие и желаем приятного путешествия!</strong></p>
      </div>
      
      <div class="order-card__rating">
        <p class="order-card__rating-caption">Оценить сервис</p>
        <div class="order-card__rating-stars">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <a href="/" class="order-card__link">Вернуться на главную</a>
      </div>
    </div>    
    
    <footer id="contacts" class="footer">
      <div class="container">
        <div class="footer__col">
          <h3 class="footer__col-title">Свяжитесь с нами</h3>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-phone" aria-hidden="true"></i> 8 (800) 000 00 00</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-envelope" aria-hidden="true"></i> inbox@mail.ru</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-skype" aria-hidden="true"></i> tu.train.tickets</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Москва ул. Московская, 27/35, оф. 55</p>
        </div>
        <div class="footer__col">
          <h3 class="footer__col-title">Подписка</h3>
          <p class="footer__col-text">Будьте в курсе событий</p>
          <form class="footer-form" action="">
            <input class="footer-form__input" type="text" placeholder="Email">
            <button class="footer-form__button" type="submit">Отправить</button>
          </form>
          <h3 class="footer__col-title footer__col-title_social">Подписывайтесь на нас</h3>
          <p class="footer__col-icons">
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </p>
        </div>        
      </div>
      <div class="footer__copyright">
        <div class="container">
          <img class="footer__logo" src="./img/logo.png" alt="Лого" />
          <a class="back-to-top" href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          <p class="footer__col-text">2019 WEB</p>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>