<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Подтверждение заказа</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-content.css">
    <link rel="stylesheet" href="css/style-reviews-slider.css">
    <link rel="stylesheet" href="css/style-footer.css">
    <link rel="shortcut icon" href="./favicon.png">
  </head>

  <body>
    <header id="top" class="header_inner">
      <div class="header__logo-wrap">
        <div class="container">
          <a href="/"><img class="header__logo" src="./img/logo.png" alt="Лого" /></a>
        </div>
      </div>

      <div class="header__nav-wrap">
        <input type="checkbox" id="menu-checkbox" />
        <nav class="container">
          <a href="/"><img class="header__logo_mobile" src="./img/logo.png" alt="Лого" /></a>
          <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="#">О нас</a></li>
            <li class="header__nav-item"><a href="#">Как это работает</a></li>
            <li class="header__nav-item"><a href="#">Отзывы</a></li>
            <li class="header__nav-item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>

      <div class="header__row header__row_inner container">
        <div class="header__form-wrap header__form-wrap_inner">
          <form class="header__form" action="">
            <p class="header__form-field-title header__form-field-title_inner">Направление</p>
            <p class="header__form-field-title header__form-field-title_inner">Дата</p>
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="Откуда">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <img class="form-round-arrows form-round-arrows_inner" src="./img/round_arrows.png" alt="">
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="Куда">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="ДД/ММ/ГГ">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              
              <div class="calendar">
                <div class="calendar__header">
                  <i class="fa fa-caret-left" aria-hidden="true"></i>
                  <p class="calendar__header-month">Август</p>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
                <div class="calendar__days-wrap">
                  <ul class="calendar__days-row">
                    <li class="calendar__day calendar__day_inactive">30</li>
                    <li class="calendar__day calendar__day_inactive">31</li>
                    <li class="calendar__day">1</li>
                    <li class="calendar__day">2</li>
                    <li class="calendar__day">3</li>
                    <li class="calendar__day">4</li>
                    <li class="calendar__day">5</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">6</li>
                    <li class="calendar__day">7</li>
                    <li class="calendar__day">8</li>
                    <li class="calendar__day">9</li>
                    <li class="calendar__day">10</li>
                    <li class="calendar__day">11</li>
                    <li class="calendar__day">12</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">13</li>
                    <li class="calendar__day">14</li>
                    <li class="calendar__day">15</li>
                    <li class="calendar__day">16</li>
                    <li class="calendar__day">17</li>
                    <li class="calendar__day">18</li>
                    <li class="calendar__day">19</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">20</li>
                    <li class="calendar__day">21</li>
                    <li class="calendar__day">22</li>
                    <li class="calendar__day">23</li>
                    <li class="calendar__day">24</li>
                    <li class="calendar__day">25</li>
                    <li class="calendar__day">26</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">27</li>
                    <li class="calendar__day">28</li>
                    <li class="calendar__day">29</li>
                    <li class="calendar__day">30</li>
                    <li class="calendar__day">31</li>
                    <li class="calendar__day calendar__day_inactive">1</li>
                    <li class="calendar__day calendar__day_inactive">2</li>
                  </ul>
                </div>
              </div>
              
            </div>
            
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="ДД/ММ/ГГ">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              
              <div class="calendar">
                <div class="calendar__header">
                  <i class="fa fa-caret-left" aria-hidden="true"></i>
                  <p class="calendar__header-month">Август</p>
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
                <div class="calendar__days-wrap">
                  <ul class="calendar__days-row">
                    <li class="calendar__day calendar__day_inactive">30</li>
                    <li class="calendar__day calendar__day_inactive">31</li>
                    <li class="calendar__day">1</li>
                    <li class="calendar__day">2</li>
                    <li class="calendar__day">3</li>
                    <li class="calendar__day">4</li>
                    <li class="calendar__day">5</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">6</li>
                    <li class="calendar__day">7</li>
                    <li class="calendar__day">8</li>
                    <li class="calendar__day">9</li>
                    <li class="calendar__day">10</li>
                    <li class="calendar__day">11</li>
                    <li class="calendar__day">12</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">13</li>
                    <li class="calendar__day">14</li>
                    <li class="calendar__day">15</li>
                    <li class="calendar__day">16</li>
                    <li class="calendar__day">17</li>
                    <li class="calendar__day">18</li>
                    <li class="calendar__day">19</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">20</li>
                    <li class="calendar__day">21</li>
                    <li class="calendar__day">22</li>
                    <li class="calendar__day">23</li>
                    <li class="calendar__day">24</li>
                    <li class="calendar__day">25</li>
                    <li class="calendar__day">26</li>
                  </ul>
                  
                  <ul class="calendar__days-row">
                    <li class="calendar__day">27</li>
                    <li class="calendar__day">28</li>
                    <li class="calendar__day">29</li>
                    <li class="calendar__day">30</li>
                    <li class="calendar__day">31</li>
                    <li class="calendar__day calendar__day_inactive">1</li>
                    <li class="calendar__day calendar__day_inactive">2</li>
                  </ul>
                </div>
              </div>
              
            </div>
            <button class="header__form-button header__form-button_inner" type="submit">Найти билеты</button>
          </form>
        </div>
      </div>
    </header>
    
    <div class="steps steps_full">
      <div class="steps-wrap container">
        <div class="steps__item steps__item_yellow">
          <div class="steps__item-number">1</div>
          <p class="steps__item-name">Билеты</p>
        </div>
        <div class="steps__triangle steps__triangle_yellow steps__triangle_yellow-full">
          <div class="steps__triangle-lines"></div>
        </div>
        <div class="steps__item steps__item_yellow">
          <div class="steps__item-number">2</div>
          <p class="steps__item-name">Пассажиры</p>
        </div>
        <div class="steps__triangle steps__triangle_yellow steps__triangle_yellow-full">
          <div class="steps__triangle-lines"></div>
        </div>
        <div class="steps__item steps__item_yellow">
          <div class="steps__item-number">3</div>
          <p class="steps__item-name">Оплата</p>
        </div>
        <div class="steps__triangle steps__triangle_yellow steps__triangle_yellow-full">
          <div class="steps__triangle-lines"></div>
        </div>
        <div class="steps__item steps__item_yellow">
          <div class="steps__item-number">4</div>
          <p class="steps__item-name">Проверка</p>
        </div>
      </div>
    </div>
     
    <div class="content-wrap">
      <div class="container">
        <section class="sidebar">
          <div class="details">
            <h3 class="details__title">Детали поездки</h3>
            <hr/>

            <details class="leave-wrap" open>
              <summary class="leave">
                <div class="leave__arrow">
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
                <p class="leave__title">Туда</p>
                <p class="leave__date">30.08.2018</p>
                <div class="leave__button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
              </summary>

              <div class="details__row details__row_center">
                <p class="train-num__caption">№ Поезда</p>
                <p class="train-num__value train-num__value_leave">116C</p>
              </div>
              <div class="details__row">
                <p class="train-name__caption">Название</p>
                <p class="train-name__value train-name__value_leave">Адлер<br/>Санкт-Петербург</p>
              </div>

              <div class="details__row">
                <div class="details__info_leave_departure">
                  <p class="details__info-time">00:10</p>
                  <p class="details__info-date">30.08.2018</p>
                  <p class="details__info-city">Москва</p>
                  <p class="details__info-station">Курский вокзал</p>
                </div>
                <div class="details__info_leave_arrow">
                  <p class="details__travel-time">9:42</p>
                  <i class="fa fa-long-arrow-right details__arrow" aria-hidden="true"></i>
                </div>
                <div class="details__info_leave_arrival">
                  <p class="details__info-time">09:52</p>
                  <p class="details__info-date">31.08.2018</p>
                  <p class="details__info-city">Санкт-Петербург</p>
                  <p class="details__info-station">Ладожский вокзал</p>
                </div>
              </div>

            </details>
            <hr/>

            <details class="back-wrap" open>
              <summary class="back">
                <div class="back__arrow">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </div>
                <p class="back__title">Обратно</p>
                <p class="back__date">09.09.2018</p>
                <div class="back__button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
              </summary>

              <div class="details__row details__row_center">
                <p class="train-num__caption">№ Поезда</p>
                <p class="train-num__value train-num__value_back">116C</p>
              </div>
              <div class="details__row">
                <p class="train-name__caption">Название</p>
                <p class="train-name__value train-name__value_back">Адлер<br/>Санкт-Петербург</p>
              </div>

              <div class="details__row">
                <div class="details__info_back_departure">
                  <p class="details__info-time">00:10</p>
                  <p class="details__info-date">30.08.2018</p>
                  <p class="details__info-city">Москва</p>
                  <p class="details__info-station">Курский вокзал</p>
                </div>
                <div class="details__info_back_arrow">
                  <p class="details__travel-time">9:42</p>
                  <i class="fa fa-long-arrow-left details__arrow" aria-hidden="true"></i>
                </div>
                <div class="details__info_back_arrival">
                  <p class="details__info-time">09:52</p>
                  <p class="details__info-date">31.08.2018</p>
                  <p class="details__info-city">Санкт-Петербург</p>
                  <p class="details__info-station">Ладожский вокзал</p>
                </div>
              </div>

            </details>
            <hr/>

            <details class="passengers-wrap" open>
              <summary class="passengers">
                <div class="passengers__icon">
                  <img src="./img/passenger.svg" alt="Пассажиры">
                </div>
                <p class="passengers__title">Пассажиры</p>
                <div class="passengers__button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
              </summary>

              <div class="passengers-info">
                <div class="passengers-info__row">
                  <p class="passengers-info__item">2 Взрослых</p>
                  <div class="passengers-info__price">5 840 <i class="fa fa-rub" aria-hidden="true"></i></div>
                </div>
                <div class="passengers-info__row">
                  <p class="passengers-info__item">1 Ребенок</p>
                  <div class="passengers-info__price">1 920 <i class="fa fa-rub" aria-hidden="true"></i></div>
                </div>
              </div>

            </details>
            <hr/>

            <div class="details__total">
              <h3 class="details__total_subtitle">Итог</h3>
              <p class="details__total_price">7 760 <i class="fa fa-rub" aria-hidden="true"></i></p>
            </div>

          </div>

        </section>
        
        <section class="content">

          <div class="train train_confirm content-container">
            <div class="train-title">Поезд</div>
            <div class="train__name-wrap">
              <div class="train__icon">
                <img src="./img/train.svg" alt="">
              </div>
              <div class="train__name">116С</div>
              <div class="train__route">
                <p class="train__route-point train__route-point_inactive">Адлер <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                <p class="train__route-point">Москва <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                <p class="train__route-point">Санкт-Петербург</p>
              </div>
            </div>
            <div class="train__info-wrap">
              <div class="train__info train__info_leave">
                <div class="train__info_leave_departure">
                  <p class="train__info-time">00:10</p>
                  <p class="train__info-city">Москва</p>
                  <p class="train__info-station">Курский вокзал</p>
                </div>
                <div class="train__info_leave_arrow">
                  <p class="train__travel-time">9 : 42</p>
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </div>
                <div class="train__info_leave_arrival">
                  <p class="train__info-time">09:52</p>
                  <p class="train__info-city">Санкт-Петербург</p>
                  <p class="train__info-station">Ладожский вокзал</p>
                </div>
              </div>
              <div class="train__info train__info_back">
                <div class="train__info_back_departure">
                  <p class="train__info-time">00:10</p>
                  <p class="train__info-city">Москва</p>
                  <p class="train__info-station">Курский вокзал</p>
                </div>
                <div class="train__info_back_arrow">
                  <p class="train__travel-time">9 : 42</p>
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="train__info_back_arrival">
                  <p class="train__info-time">09:52</p>
                  <p class="train__info-city">Санкт-Петербург</p>
                  <p class="train__info-station">Ладожский вокзал</p>
                </div>
              </div>
            </div>
            <div class="train__seats-wrap">
              <div class="train__seat">
                <div class="train__seat-name">Сидячий</div>
                <div class="train__seat-number">88</div>
                <div class="train__seat-price">
                  от <span class="train__seat-price_value">1 920</span>
                  <i class="fa fa-rub" aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="train__seat">
                <div class="train__seat-name">Плацкарт</div>
                <div class="train__seat-number">52</div>
                <div class="train__seat-price">
                  от <span class="train__seat-price_value">2 530</span>
                  <i class="fa fa-rub" aria-hidden="true"></i>
                </div>
              </div>
              
              <div class="train__seat">
                <div class="train__seat-name">Купе</div>
                <div class="train__seat-number">24</div>
                <div class="train__seat-price">
                  от <span class="train__seat-price_value">3 820</span>
                  <i class="fa fa-rub" aria-hidden="true"></i>
                </div>
                <div class="train__seat_subtypes hidden">
                  <div class="train__seat_subtype">
                    <div class="train__seat-name">верхние</div>
                    <div class="train__seat-number train__seat-number_subtype">19</div>
                    <div class="train__seat-price">
                      <span class="train__seat-price_value">2 920</span>
                      <i class="fa fa-rub" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="train__seat_subtype">
                    <div class="train__seat-name">нижние</div>
                    <div class="train__seat-number train__seat-number_subtype">5</div>
                    <div class="train__seat-price">
                      <span class="train__seat-price_value">3 530</span>
                      <i class="fa fa-rub" aria-hidden="true"></i>
                    </div>
                  </div>  
                </div>
              </div>
              
              <div class="train__seat-filters">
                <img class="last-tickets__item-filter-icon" src="./img/wi_fi.svg" alt="Wi-Fi">
                <img class="last-tickets__item-filter-icon" src="./img/express.svg" alt="Экспресс">
                <img class="last-tickets__item-filter-icon" src="./img/lux_seat.svg" alt="Люкс">
              </div>
              <a class="change__button" href="#">Изменить</a>
            </div>
          </div>
          
          <div class="content-container">
            <div class="content-container__title">Пассажиры</div>
            <div class="passengers-list">
              <div class="passengers-list__item">
                <div class="passengers-list__item-icon">
                  <img src="./img/passenger-icon.svg" alt="">
                  Взрослый
                </div>
                <div class="passengers-list__item-info">
                  <p class="passengers-list__item-name">Мартынюк Ирина Эдуардовна</p>
                  <p class="passengers-list__item-gender">Пол женский</p>
                  <p class="passengers-list__item-birth">Дата рождения 17.02.1985</p>
                  <p class="passengers-list__item-document">Паспорт РФ 4204 380694</p>
                </div>
              </div>
              
              <div class="passengers-list__item">
                <div class="passengers-list__item-icon">
                  <img src="./img/passenger-icon.svg" alt="">
                  Детский
                </div>
                <div class="passengers-list__item-info">
                  <p class="passengers-list__item-name">Мартынюк Кирилл Сергеевич</p>
                  <p class="passengers-list__item-gender">Пол мужской</p>
                  <p class="passengers-list__item-birth">Дата рождения 25.01.2006</p>
                  <p class="passengers-list__item-document">Свидетельство о рождении VIII УН 256319</p>
                </div>
              </div>
              
              <div class="passengers-list__item">
                <div class="passengers-list__item-icon">
                  <img src="./img/passenger-icon.svg" alt="">
                  Детский
                </div>
                <div class="passengers-list__item-info">
                  <p class="passengers-list__item-name">Мартынюк Кирилл Сергеевич</p>
                  <p class="passengers-list__item-gender">Пол мужской</p>
                  <p class="passengers-list__item-birth">Дата рождения 25.01.2006</p>
                  <p class="passengers-list__item-document">Свидетельство о рождении VIII УН 256319</p>
                </div>
              </div>
            </div>

            <div class="total-wrap">
              <div class="total">
                <h3 class="total__subtitle">Всего</h3>
                <p class="total__price">7 760 <i class="fa fa-rub total__price_icon" aria-hidden="true"></i></p>
              </div>
              
              <a class="change__button" href="#">Изменить</a>
            </div>
          </div>

          <div class="content-container">
            <div class="content-container__title">Способ оплаты</div>
            <div class="content-container__col">
              <p class="payment__method_confirm">Наличными</p>
            </div>

            <div class="total-wrap">
              <a class="change__button" href="#">Изменить</a>
            </div>
          </div>
         
          <a href="#" class="next-button">Подтвердить</a>
          
        </section>
      
      </div>
    </div>
    
    <footer class="footer">
      <div class="container">
        <div class="footer__col">
          <h3 class="footer__col-title">Свяжитесь с нами</h3>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-phone" aria-hidden="true"></i> 8 (800) 000 00 00</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-envelope" aria-hidden="true"></i> inbox@mail.ru</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-skype" aria-hidden="true"></i> tu.train.tickets</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Москва ул. Московская, 27/35, оф. 55</p>
        </div>
        <div class="footer__col">
          <h3 class="footer__col-title">Подписка</h3>
          <p class="footer__col-text">Будьте в курсе событий</p>
          <form class="footer-form" action="">
            <input class="footer-form__input" type="text" placeholder="Email">
            <button class="footer-form__button" type="submit">Отправить</button>
          </form>
          <h3 class="footer__col-title footer__col-title_social">Подписывайтесь на нас</h3>
          <p class="footer__col-icons">
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </p>
        </div>        
      </div>
      <div class="footer__copyright">
        <div class="container">
          <img class="footer__logo" src="./img/logo.png" alt="Лого" />
          <a class="back-to-top" href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          <p class="footer__col-text">2019 WEB</p>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>