<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Экран загрузки</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-content.css">
    <link rel="stylesheet" href="css/style-reviews-slider.css">
    <link rel="stylesheet" href="css/style-footer.css">
    <link rel="shortcut icon" href="./favicon.png">
  </head>

  <body>
    <header id="top" class="header_inner">
      <div class="header__logo-wrap">
        <div class="container">
          <a href="/"><img class="header__logo" src="./img/logo.png" alt="Лого" /></a>
        </div>
      </div>

      <div class="header__nav-wrap">
        <input type="checkbox" id="menu-checkbox" />
        <nav class="container">
          <a href="/"><img class="header__logo_mobile" src="./img/logo.png" alt="Лого" /></a>
          <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="#">О нас</a></li>
            <li class="header__nav-item"><a href="#">Как это работает</a></li>
            <li class="header__nav-item"><a href="#">Отзывы</a></li>
            <li class="header__nav-item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>

      <div class="header__row header__row_inner container">
        <div class="header__form-wrap header__form-wrap_inner">
          <form class="header__form" action="">
            <p class="header__form-field-title header__form-field-title_inner">Направление</p>
            <p class="header__form-field-title header__form-field-title_inner">Дата</p>
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="Откуда">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <img class="form-round-arrows form-round-arrows_inner" src="./img/round_arrows.png" alt="">
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="Куда">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="ДД/ММ/ГГ">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            
            <div class="header__form-field-wrap header__form-field-wrap_inner">
              <input class="header__form-field" type="text" placeholder="ДД/ММ/ГГ">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <button class="header__form-button header__form-button_inner" type="submit">Найти билеты</button>
          </form>
        </div>
      </div>
    </header>
     
    <div class="content-wrap content-wrap_loader">
      <p class="loader-text">идет поиск</p>
      <img class="loader" src="./img/preloader.gif" alt="Loader">
    </div>
    
    <footer class="footer">
      <div class="container">
        <div class="footer__col">
          <h3 class="footer__col-title">Свяжитесь с нами</h3>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-phone" aria-hidden="true"></i> 8 (800) 000 00 00</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-envelope" aria-hidden="true"></i> inbox@mail.ru</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-skype" aria-hidden="true"></i> tu.train.tickets</p>
          <p class="footer__col-text footer__col-text_margin"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Москва ул. Московская, 27/35, оф. 55</p>
        </div>
        <div class="footer__col">
          <h3 class="footer__col-title">Подписка</h3>
          <p class="footer__col-text">Будьте в курсе событий</p>
          <form class="footer-form" action="">
            <input class="footer-form__input" type="text" placeholder="Email">
            <button class="footer-form__button" type="submit">Отправить</button>
          </form>
          <h3 class="footer__col-title footer__col-title_social">Подписывайтесь на нас</h3>
          <p class="footer__col-icons">
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </p>
        </div>        
      </div>
      <div class="footer__copyright">
        <div class="container">
          <img class="footer__logo" src="./img/logo.png" alt="Лого" />
          <a class="back-to-top" href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
          <p class="footer__col-text">2019 WEB</p>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>